@if (totalPages > 1) {

    <div
        class="mt-10 flex flex-wrap items-center
               justify-center gap-2"
    >

        <!-- PRÉCÉDENT -->
        <button
            type="button"
            (click)="previousPage()"
            [disabled]="currentPage === 0"
            class="flex h-10 items-center
                   justify-center rounded-xl
                   border px-4 text-sm
                   font-semibold transition
                   disabled:cursor-not-allowed
                   disabled:opacity-40
                   border-gray-300
                   bg-white text-gray-700
                   hover:border-green-500
                   hover:text-green-600
                   dark:border-gray-700
                   dark:bg-gray-900
                   dark:text-gray-200"
        >
            ← Précédent
        </button>


        <!-- PAGES -->
        @for (
            page of getPaginationPages();
            track $index
        ) {

            @if (page.type === 'ellipsis') {

                <!-- ... -->
                <span
                    class="flex h-10 min-w-10
                           items-center justify-center
                           px-2 text-sm font-bold
                           text-gray-500
                           dark:text-gray-400"
                >
                    ...
                </span>

            } @else {

                <!-- NUMÉRO DE PAGE -->
                <button
                    type="button"
                    (click)="goToPage(page.value!)"
                    class="flex h-10 min-w-10
                           items-center justify-center
                           rounded-xl border px-3
                           text-sm font-semibold
                           transition"

                    [class.border-green-600]="
                        currentPage === page.value
                    "

                    [class.bg-green-600]="
                        currentPage === page.value
                    "

                    [class.text-white]="
                        currentPage === page.value
                    "

                    [class.border-gray-300]="
                        currentPage !== page.value
                    "

                    [class.bg-white]="
                        currentPage !== page.value
                    "

                    [class.text-gray-700]="
                        currentPage !== page.value
                    "

                    [class.hover:border-green-500]="
                        currentPage !== page.value
                    "

                    [class.hover:text-green-600]="
                        currentPage !== page.value
                    "

                    [class.dark:border-green-500]="
                        currentPage === page.value
                    "

                    [class.dark:bg-green-500]="
                        currentPage === page.value
                    "

                    [class.dark:border-gray-700]="
                        currentPage !== page.value
                    "

                    [class.dark:bg-gray-900]="
                        currentPage !== page.value
                    "

                    [class.dark:text-gray-200]="
                        currentPage !== page.value
                    "
                >
                    {{ page.value! + 1 }}
                </button>

            }

        }


        <!-- SUIVANT -->
        <button
            type="button"
            (click)="nextPage()"
            [disabled]="
                currentPage === totalPages - 1
            "
            class="flex h-10 items-center
                   justify-center rounded-xl
                   border px-4 text-sm
                   font-semibold transition
                   disabled:cursor-not-allowed
                   disabled:opacity-40
                   border-gray-300
                   bg-white text-gray-700
                   hover:border-green-500
                   hover:text-green-600
                   dark:border-gray-700
                   dark:bg-gray-900
                   dark:text-gray-200"
        >
            Suivant →
        </button>

    </div>


    <!-- INFORMATIONS PAGINATION -->
    <p
        class="mt-4 text-center text-sm
               text-gray-500
               dark:text-gray-400"
    >
        Page
        {{ currentPage + 1 }}
        sur
        {{ totalPages }}

        <span class="mx-1">·</span>

        {{ totalElements }}
        produit(s)
    </p>

}
