<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4 md:gap-6">

    <!-- USERS -->
    <div
            class="rounded-2xl border border-gray-200 bg-white p-5 shadow-sm
               dark:border-gray-800 dark:bg-gray-900 md:p-6"
    >
        <div
                class="flex h-12 w-12 items-center justify-center rounded-xl
                   bg-gray-100 dark:bg-gray-800"
                [innerHTML]="icons.groupIcon | safeHtml"
        ></div>

        <div class="mt-5 flex items-end justify-between">

            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">
                    Utilisateurs
                </span>

                @if (loading) {

                    <div
                            class="mt-2 h-8 w-16 animate-pulse rounded
                               bg-gray-200 dark:bg-gray-700"
                    ></div>

                } @else {

                    <h4
                            class="mt-2 text-title-sm font-bold text-gray-800
                               dark:text-white"
                    >
                        {{ usersCount | number }}
                    </h4>

                }
            </div>

            <app-badge color="success">
                <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
                Total
            </app-badge>

        </div>
    </div>


    <!-- PRODUCTS -->
    <div
            class="rounded-2xl border border-gray-200 bg-white p-5 shadow-sm
               dark:border-gray-800 dark:bg-gray-900 md:p-6"
    >
        <div
                class="flex h-12 w-12 items-center justify-center rounded-xl
                   bg-gray-100 dark:bg-gray-800"
                [innerHTML]="icons.boxIconLine | safeHtml"
        ></div>

        <div class="mt-5 flex items-end justify-between">

            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">
                    Produits
                </span>

                @if (loading) {

                    <div
                            class="mt-2 h-8 w-16 animate-pulse rounded
                               bg-gray-200 dark:bg-gray-700"
                    ></div>

                } @else {

                    <h4
                            class="mt-2 text-title-sm font-bold text-gray-800
                               dark:text-white"
                    >
                        {{ productsCount | number }}
                    </h4>

                }
            </div>

            <app-badge color="success">
                <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
                Total
            </app-badge>

        </div>
    </div>


    <!-- COMMANDES -->
    <div
            class="rounded-2xl border border-gray-200 bg-white p-5 shadow-sm
               dark:border-gray-800 dark:bg-gray-900 md:p-6"
    >
        <div
                class="flex h-12 w-12 items-center justify-center rounded-xl
                   bg-gray-100 dark:bg-gray-800"
                [innerHTML]="icons.boxIconLine | safeHtml"
        ></div>

        <div class="mt-5 flex items-end justify-between">

            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">
                    Commandes
                </span>

                @if (loading) {

                    <div
                            class="mt-2 h-8 w-16 animate-pulse rounded
                               bg-gray-200 dark:bg-gray-700"
                    ></div>

                } @else {

                    <h4
                            class="mt-2 text-title-sm font-bold text-gray-800
                               dark:text-white"
                    >
                        {{ ordersCount | number }}
                    </h4>

                }
            </div>

            <app-badge color="success">
                <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
                Total
            </app-badge>

        </div>
    </div>


    <!-- CHIFFRE D'AFFAIRES -->
    <div
            class="rounded-2xl border border-gray-200 bg-white p-5 shadow-sm
               dark:border-gray-800 dark:bg-gray-900 md:p-6"
    >
        <div
                class="flex h-12 w-12 items-center justify-center rounded-xl
                   bg-gray-100 dark:bg-gray-800"
                [innerHTML]="icons.boxIconLine | safeHtml"
        ></div>

        <div class="mt-5 flex items-end justify-between">

            <div>
                <span class="text-sm text-gray-500 dark:text-gray-400">
                    Chiffre d'affaires
                </span>

                @if (loading) {

                    <div
                            class="mt-2 h-8 w-32 animate-pulse rounded
                               bg-gray-200 dark:bg-gray-700"
                    ></div>

                } @else {

                    <h4
                            class="mt-2 text-title-sm font-bold text-gray-800
                               dark:text-white"
                    >
                        {{ formatCurrency(totalRevenue) }}
                    </h4>

                }
            </div>

            <app-badge color="success">
                <span [innerHTML]="icons.arrowUpIcon | safeHtml"></span>
                Total
            </app-badge>

        </div>
    </div>

</div>


@if (errorMessage) {

    <div
            class="mt-4 rounded-lg border border-red-200 bg-red-50 p-3 text-sm
               text-red-600 dark:border-red-500/20 dark:bg-red-500/10
               dark:text-red-400"
    >
        {{ errorMessage }}
    </div>

}